--use-pep517
--no-build-isolation
# CORE
streamlit==1.35.0
numpy==1.26.0
pandas==2.1.0
yfinance==0.2.36
scikit-learn==1.4.0

# DEPENDÊNCIAS DE VISUALIZAÇÃO
plotly==5.18.0
matplotlib==3.8.0

# PACOTES COM CONFLITOS (fixe essas versões)
markdown-it-py==3.0.0
Pygments==2.19.1
mdurl==0.1.2
rich==14.0.0
